<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vnr.farmersdiary" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="loginscreen" >
        </activity>
        <activity
            android:name=".farmerCrops"
            android:label="@string/title_activity_farmer_crops" >
        </activity>
        <activity
            android:name=".AddCrop"
            android:label="@string/title_activity_add_crop" >
        </activity>
        <activity
            android:name=".CropDetail"
            android:label="@string/title_activity_crop_detail" >
        </activity>
        <activity
            android:name=".InvestmentsDetail"
            android:label="@string/title_activity_investments" >
        </activity>
        <activity
            android:name=".AddEditInvestment"
            android:label="@string/title_activity_add_edit_investment" >
        </activity>
    </application>

</manifest>
